In [1]:
import torch
import pandas as pd

In [3]:
# bg sampled data

bg_sampled_path = "data/interim/bg_stratified_sampled.csv"
bg_sampled_df = pd.read_csv(bg_sampled_path)

bg_sampled_df.head(10)

,bc01,bc04,bc05,bc06,bc12,bc15,bc17,bc20,bc31,bc33,slope,topo,tri,x,y,strata
0,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,472935.825161,7.901848e+06,0
1,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,327895.825161,8.299528e+06,0
2,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,245655.825161,8.008248e+06,0
3,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,386695.825161,8.190488e+06,0
4,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,435895.825161,8.193608e+06,0
5,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,446455.825161,7.960248e+06,0
6,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,437175.825161,8.020888e+06,0
7,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,464455.825161,7.949928e+06,0
8,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,344695.825161,8.189368e+06,0
9,-3.400000e+38,-3.400000e+38,-3.400000e+38,-3.400000e+38,65535,255,65535,-3.400000e+38,255,-3.400000e+38,-3.400000e+38,255,-3.400000e+38,420535.825161,8.082648e+06,0

In [11]:
# for each column lets check how many values are below 1e-5
for col in bg_sampled_df.columns:
    num_below_threshold = (bg_sampled_df[col] < -1e5).sum()
    print(f"Column: {col}, Values below -1e5: {num_below_threshold}")

Column: bc01, Values below -1e5: 100
Column: bc04, Values below -1e5: 100
Column: bc05, Values below -1e5: 100
Column: bc06, Values below -1e5: 100
Column: bc12, Values below -1e5: 0
Column: bc15, Values below -1e5: 0
Column: bc17, Values below -1e5: 0
Column: bc20, Values below -1e5: 100
Column: bc31, Values below -1e5: 0
Column: bc33, Values below -1e5: 100
Column: slope, Values below -1e5: 100
Column: topo, Values below -1e5: 0
Column: tri, Values below -1e5: 100
Column: x, Values below -1e5: 0
Column: y, Values below -1e5: 0
Column: strata, Values below -1e5: 0

In [13]:
# ok lets remove them from the dataframe
threshold = -1e5
bg_sampled_df_cleaned = bg_sampled_df[(bg_sampled_df >= threshold).all(axis=1)]
print("Shape after cleaning:", bg_sampled_df_cleaned.shape)
bg_sampled_df_cleaned.head(10)

Shape after cleaning: (9900, 16)

,bc01,bc04,bc05,bc06,bc12,bc15,bc17,bc20,bc31,bc33,slope,topo,tri,x,y,strata
100,19.900000,0.93,28.200000,11.300000,2247,79,162,18.500000,26,0.51,31.944542,22,868.429000,362855.825161,8.095688e+06,1
101,23.700000,0.95,31.600000,14.000000,2976,82,220,18.100000,21,0.59,0.169946,25,5.567764,381575.825161,8.009128e+06,1
102,23.700000,0.95,31.700000,13.900001,3066,79,239,18.000000,19,0.62,0.118452,27,4.582576,376775.825161,8.012168e+06,1
103,20.500000,0.94,28.800001,11.500000,2481,74,191,18.300001,23,0.57,13.828248,26,321.653530,362615.825161,8.085288e+06,1
104,20.700000,0.93,28.900000,11.900001,2562,75,193,18.300001,23,0.56,5.177583,31,396.909300,365735.825161,8.088808e+06,1
105,23.800001,0.95,31.700000,13.900001,2910,82,215,18.100000,21,0.58,0.179773,22,4.898980,377415.825161,8.009288e+06,1
106,20.300001,0.94,28.800001,11.300000,2053,79,146,18.600000,29,0.45,9.327582,27,265.984950,358295.825161,8.088008e+06,1
107,18.600000,0.95,26.900000,10.500000,2425,81,179,18.400000,24,0.54,43.512740,21,1219.205400,316455.825161,8.186968e+06,1
108,23.400000,0.92,30.900000,14.500000,3218,79,236,18.000000,18,0.64,8.535451,26,138.068820,401015.825161,8.022248e+06,1
109,18.700000,1.02,27.700000,9.200000,1918,76,146,18.700000,22,0.58,0.138943,20,158.113880,343015.825161,8.052888e+06,1